# 2. Pandas Crash - Basic Pandas

## Pandas 는 Series data type 과 DataFrame data type 으로 구성된다.

### Series (1 차원) : numpy array 와 유사. 
- 차이점 - numpy 와 달리 Series 는 axis (행, 열)에 label 을 부여할 수 있다. 즉, numpy 와 같이 숫자로만 indexing 하는 것이 아니라 label 명으로 indexing 을 할 수 있다. 또한 숫자 뿐 아니라 임의의 Python object 를 모두 element 로 가질 수 있다.

### DataFrame (2차원, table)
- Python program 안의 Excel

### Series vs DataFrame
<img src="series-and-dataframe.width-1200.png" width="600">

<img src="base_01_pandas_5_0.png" width="600">

In [1]:
import numpy as np
import pandas as pd

### DataFrame 

DataFrame 은 여러개의 Series 를 같은 index 기준으로 모아 Table 을 만든 것이다.

In [2]:
import pandas as pd
import numpy as np

In [4]:
data = np.random.randn(5, 4)

In [5]:
df = pd.DataFrame(data, columns=['W', 'X', 'Y', 'Z'])
df

          W         X         Y         Z
0  0.302665  1.693723 -1.706086 -1.159119
1 -0.134841  0.390528  0.166905  0.184502
2  0.807706  0.072960  0.638787  0.329646
3 -0.497104 -0.754070 -0.943406  0.484752
4 -0.116773  1.901755  0.238127  1.996652

### dataframe 의 column 명

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       5 non-null      float64
 1   X       5 non-null      float64
 2   Y       5 non-null      float64
 3   Z       5 non-null      float64
dtypes: float64(4)
memory usage: 288.0 bytes

In [7]:
df.describe()

              W         X         Y         Z
count  5.000000  5.000000  5.000000  5.000000
mean   0.072331  0.660979 -0.321135  0.367287
std    0.499191  1.121089  0.971818  1.121759
min   -0.497104 -0.754070 -1.706086 -1.159119
25%   -0.134841  0.072960 -0.943406  0.184502
50%   -0.116773  0.390528  0.166905  0.329646
75%    0.302665  1.693723  0.238127  0.484752
max    0.807706  1.901755  0.638787  1.996652

### DataFrame indexing

In [8]:
df['W']

0    0.302665
1   -0.134841
2    0.807706
3   -0.497104
4   -0.116773
Name: W, dtype: float64

In [9]:
df[['W', 'Z']]

          W         Z
0  0.302665 -1.159119
1 -0.134841  0.184502
2  0.807706  0.329646
3 -0.497104  0.484752
4 -0.116773  1.996652

### new column 추가/삭제

In [10]:
df['new'] = df['W'] + df['X']
df

          W         X         Y         Z       new
0  0.302665  1.693723 -1.706086 -1.159119  1.996388
1 -0.134841  0.390528  0.166905  0.184502  0.255687
2  0.807706  0.072960  0.638787  0.329646  0.880666
3 -0.497104 -0.754070 -0.943406  0.484752 -1.251174
4 -0.116773  1.901755  0.238127  1.996652  1.784981

In [12]:
df.drop('new', axis=1, inplace=True)
df

          W         X         Y         Z
0  0.302665  1.693723 -1.706086 -1.159119
1 -0.134841  0.390528  0.166905  0.184502
2  0.807706  0.072960  0.638787  0.329646
3 -0.497104 -0.754070 -0.943406  0.484752
4 -0.116773  1.901755  0.238127  1.996652

### excel file handling

In [15]:
df = pd.read_csv("https://github.com/ironmanciti/Case_based_AI/raw/main/winequality-red.csv", sep=";")
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]